<div id="footer" class="py-5">
    <div class="container">
        <div class="row">
            <div class="cl-12 col-sm-12 col-md-3 col-lg col-xl-3 margen_if ">
                <div class="titulo_footer">
                   Expresate
                </div>
                <br>
                <div>
                    Recibimos un surtido de flores frescas de temporada cada semana y solo enviaremos flores de la más alta calidad. Debido a esto, es posible que se realicen algunas sustituciones menores a su arreglo floral. Si tiene alguna pregunta por favor contactenos!
                </div>         
            </div>
    
    
            <div class="cl-12 col-sm-12 col-md-3 col-lg col-xl-3 margen_if">
                <div class="titulo_footer">
                    Contactanos
                </div>
                <br>           
                <div>Direccion: Cra.7 #12-45</div>
                <div>Telefonos: 999 999 9999</div>
                <div>Correo: contactus@expresate.com</div>
                
            </div>
            <div class="cl-12 col-sm-12 col-md-3 col-lg col-xl-3 margen_if">
                <div class="titulo_footer">
                    Horarios de atención
                </div>
                <br>          
                <div>Lun 9am-6pm</div>
                <div>Sab 9pm-3pm</div>
                <div>Dom: Cerrado</div>           
            </div>
            <div class="cl-12 col-sm-12 col-md-3 col-lg col-xl-3 margen_if">
                <div class="titulo_footer">
                    Mapa del sitio
                </div>
                <br>           
                <div><a class="underline" routerLink="/nosotros">Quienes somos</a></div>
                <div><a class="underline" routerLink="/trabajaconnosotros">Trabaja con nosotros</a></div>
                <div><a class="underline" (click)="lista.cargarplantas()">Plantas</a></div>
                <div><a class="underline" (click)="lista.cargaramor()">Enamorad@s</a></div>
                <div><a class="underline" (click)="lista.cargarecuperacion()">Aliviate pronto</a></div>
                <div><a class="underline" (click)="lista.cargarfechasespeciales()">Fechas memorables</a></div>
            </div>
            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>© 2021 Expresate Floristería, Inc. Todos los derechos reservados.</p>
            </div>
        </div>
    
    </div>
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--<footer>
        <div style="background:black">
            <div class="container">
                <footer class="py-5">
                    <div class="row">
                        <div class="col-12 col-sm-1 col-md-2 d-none d-md-block" >
                        <h5 style="color:white;">Mapa del Sitio</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="/quienessomos" class="nav-link p-0" style="color:white">Quienes somos</a></li>
                            <li class="nav-item mb-2"><a href="/trabajaconnosotros" class="nav-link p-0" style="color:white">Trabaja con nosotros</a></li>
                            <li class="nav-item mb-2"><a href="/ocasiones" class="nav-link p-0" style="color:white">Ocasiones</a></li>
                            <li class="nav-item mb-2"><a href="/plantas" class="nav-link p-0"style="color:white">Plantas</a></li>
                        </ul>
                        </div>
                        <br>
                    
        
                        <div class="col-12 col-sm-6 col-md-4">
                            <h5 style="color:white;">Contactenos</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-6"><a href="#" class="nav-link p-0" style="color:white">Direccion: Cra.7 #12-45</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color:white">Telefonos: 999 999 9999</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color:white">Correo: contactus@expresate.com </a></li>
                            </ul>
                        </div>
                        <br>
            
                        <div class="col-12 col-sm-3 col-md-3">
                            <h5 style="color:white;">Horarios de Atención</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color:white">Lun 9am-6pm</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color:white">Sab 9pm-3pm</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color:white">Dom Cerrado</a></li>
                            </ul>
                        </div>
                        <br>
            
                        <div class="col-12 col-sm-2 col-md-3">
                            <h5 style="color:white;">Expresa tus sentimientos</h5>
                            <div style="color:white;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatum eum eligendi! Ratione earum doloribus error optio? Velit numquam assumenda asperiores dolores vero quod porro tempora molestiae quam! Blanditiis, quidem!
                            </div>
                        </div>
                        
                        <br>
                
                        <div class="d-flex justify-content-between py-4 my-4 border-top">
                            <p style="color:white;">© 2021 Expresate Floristería, Inc. Todos los derechos reservados.</p>
    
                        </div>
                        <br>
                    </div>
                </footer>
            </div>
        </div>
    </footer>-->
    
    
        
    
    
    
    