
<body>

    <section>
    
        <div class="contenedor">
            <img id="imagen" src="assets/Imagenes/foto0.jpg"/>
            
            <div class="texto-encima">
                <h1 col-12 col-sm-6 ol-md-6>Expresa todos <br>tus sentimientos</h1>
                <p  col-12 col-sm-6 col-md-6>
                    <strong style="color:white">
                        Arreglos florales que 
                    <br>
                        llegan al alma
                    </strong>        
                </p>
                <button type="button" class="btn btn-light">ORDENA AQUÍ</button>   
            </div>    
        </div>
        <div>
            <div class="container">
                <div id="steps" style="text-align:center;">
                <h2 class="lines-effect">Expresate en 3 pasos</h2> 
                <div class="row">
                    
                    <div class="col-12 col-sm-4 col-md-4" style="width: 18rem;">                
                        <div  class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" style="font-family: 'Playfair Display', serif; ">ELIJE TU ARREGLO</h5>                       
                            </div>                    
                            <img  class="pasos" src="assets/Imagenes/agendar.png" alt="..." >                    
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-4 col-md-4" style="width: 18rem;">                
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" style="font-family: 'Playfair Display', serif;"> AGENDA EL ANVÍO</h5>
                            </div>
                            <img class="pasos" src="assets/Imagenes/calendario.png" alt="..." >
                        </div>
                    </div>
        
        
                    <div class="col-12 col-sm-4 col-md-4" style="width: 18rem;">                
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" style="font-family: 'Playfair Display', serif;">EXPRESATE</h5>
                                <img class="pasos" src="assets/Imagenes/flores.png" alt="..." >
                            </div>
                        </div>
                    </div>
                    
                </div>
                <button type="button" class="btn btn-light" style="font-size:20px; margin-top:40px">ORDENA AHORA</button>  
                </div>
            </div>
        </div>
        
        
        <div id="frame-testimonios" style="background: url(assets/Imagenes/foto111.jpg)">
            <div class="container text-center my-3">        
                <h3>Testimonios</h3>
                <div class="row mx-auto my-auto">
                    <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            <div class="carousel-item active">
                                <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-6">                
                                            <div class="card card-body">
                                                <h5 class="card-title">Diana Marin</h5>
                                                <p class="card-text">Puedo ver cada uno de los arreglos que tienen sin necesidad de asistir directamente a su empresa.</p>
                                            </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                            <div class="card card-body">
                                                <h5 class="card-title">Carlos Perez</h5>
                                                <p class="card-text">Buscaba poder comprar por internet en una tienda online de flores y exprésate es mi solución.</p>
                                            </div> 
                                    </div>
                                </div>
                                </div>            
                            </div>
        
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-6">                
                                            <div class="card card-body">
                                                <h5 class="card-title">Carlolina Rodriguez</h5>
                                                <p class="card-text">Mi hermana cumplió años hace un mes y no sabía que regalarle. Llamamos a exprésate y me enviaron el pedido de inmediato.</p>
                                            </div>
                                        </div>                    
                                        <div class="col-12 col-md-6">                
                                            <div class="card card-body">
                                                <h5 class="card-title">Sergio Sanchez</h5>
                                                <p class="card-text">La confianza que nos inspiran es absoluta y se basan en entregar lo exactamente pedido.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                    <div class="col-12 col-md-6">                
                                        <div class="card card-body">
                                            <h5 class="card-title">Sergio Sanchez</h5>
                                            <p class="card-text">Siempre me dan tranquilidad que necesito, un trato amable y atención inmediata los describe.</p>
                                        </div>
                                    </div>
        
                                    <div class="col-12 col-md-6">                
                                        <div class="card card-body">
                                            <h5 class="card-title">Daniel Cortez</h5>
                                            <p class="card-text">Exprésate se explica con claridad y no deja que ningún detalle se les escape.</p>
                                        </div>                        
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="left:-10%">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="right:-10%">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>                
                    </div>
                </div>       
            </div>
        </div>
        
        </section>
    </body>
    
    
    
    
        
    